DOMAIN=api.tudominio.com
API_SECRET_KEY=cambia-esta-clave-larga-y-segura
CORS_ORIGINS=*
TZ=America/Mexico_City

MYSQL_DATABASE=carnes_luevanos
MYSQL_USER=carnes_user
MYSQL_PASSWORD=cambia-esta-clave-mysql
MYSQL_ROOT_PASSWORD=cambia-esta-clave-root
